<div class="container-fluid">
    <app-page-title title="Coupon" [breadcrumbItems]="breadCrumbItems"></app-page-title>
    <div class="row">
      <div class="col-12">
        <div class="card">
            <div class="card-body">
              <div class="card shadow-none border mb-0">
                <div class="card-body">
                  <h4 class="card-title mb-4">Coupon View</h4>
                  <div class="table-responsive">
                    <table class="table table-centered mb-0 table-nowrap" *ngIf="dataloader == true">
                      <thead class="table-light">
                        <tr>
                            <th scope="col">Coupon Id</th>
                            <th scope="col">{{couponList.data.id}}</th>
                        </tr>
                      </thead>
                      <tbody>

                        <tr>
                            <th scope="col">Country Name</th>
                            <th scope="col">{{couponList.data.countryName}}</th>
                        </tr>
                        <tr>
                            <th scope="col">State Name</th>
                            <th scope="col">{{couponList.data.stateName}}</th>
                        </tr>
                        <tr>
                            <th scope="col">City Name</th>
                            <th scope="col">{{couponList.data.cityName}}</th>
                        </tr>

                        <tr>
                            <th scope="col">Process Name</th>
                            <th scope="col">{{couponList.data.processName}}</th>
                        </tr>

                        <tr>
                            <th scope="col">Vahicle Name</th>
                            <th scope="col">{{couponList.data.vehicleName}}</th>
                        </tr>

                        <tr>
                            <th scope="col">Username</th>
                            <th scope="col">{{couponList.data.userName}}</th>
                        </tr>
                        <tr>
                            <th scope="col">Coupon Name</th>
                            <th scope="col">{{couponList.data.couponName}}</th>
                        </tr>
                        <tr>
                            <th scope="col">Coupon Code</th>
                            <th scope="col">{{couponList.data.couponCode}}</th>
                        </tr>
                        <tr>
                            <th scope="col">Coupon Amount</th>
                            <th scope="col">{{couponList.data.amount}}</th>
                        </tr>
                        <tr>
                            <th scope="col">Coupon Type</th>
                            <th scope="col" *ngIf="couponList.data.couponType == 1">Direct Discount</th>
                            <th scope="col" *ngIf="couponList.data.couponType == 2">Cashback</th>
                        </tr>
                        <tr>
                            <th scope="col">Discount Type</th>
                            <th scope="col" *ngIf="couponList.data.discountType == 1">Fixed</th>
                            <th scope="col" *ngIf="couponList.data.discountType == 2">Percentage</th>
                        </tr>

                        <tr>
                            <th scope="col">Is Auto Apply</th>
                            <th scope="col" *ngIf="couponList.data.isAutoApply == 1">True</th>
                            <th scope="col" *ngIf="couponList.data.isAutoApply == 2">False</th>
                            
                        </tr>
                        <tr>
                            <th scope="col">Maximum Discount</th>
                            <th scope="col">{{couponList.data.maxAmountOfDiscount}}</th>
                        </tr>

                        <tr>
                            <th scope="col">Maximum User Use</th>
                            <th scope="col">{{couponList.data.maxUserUses}}</th>
                        </tr>

                        <tr>
                            <th scope="col">Minimum Amount</th>
                            <th scope="col">{{couponList.data.minAmount}}</th>
                        </tr>

  
                        <tr>
                            <th scope="col">Start Date </th>
                            <th scope="col">{{couponList.data.startDate}}</th>
                        </tr>

                        <tr>
                            <th scope="col">End Date </th>
                            <th scope="col">{{couponList.data.endDate}}</th>
                        </tr>

                        <tr>
                            <th scope="col">Status</th>
                            <th scope="col" *ngIf="couponList.data.isActive == 0">Deactivate</th>
                            <th scope="col" *ngIf="couponList.data.isActive == 1">Activate</th>
                          
                        </tr>
                      </tbody>
                    </table>

                    <table class="table table-centered mb-0 table-nowrap" *ngIf="dataloader == false">
                        <thead class="table-light">
                          <tr>
                              <th scope="col">Data does not exist !!</th>
                              <th scope="col"></th>
                          </tr>
                        </thead>
                    </table>

                  </div>
                </div>
              </div>
              <div class="row mt-4">
                <div class="col-sm-6">
                  <a routerLink="/maser/citylist" class="btn text-muted d-none d-sm-inline-block btn-link">
                    <i class="mdi mdi-arrow-left me-1"></i> Back to city list </a>
                </div> <!-- end col -->
               
              </div>
            </div>
        </div>
      </div>
    </div>
    <!-- end row -->
  </div>
  
  