<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
               
                <div class="card-body">
                    <div class="role" style="float: right;">
                        <a routerLink="" onclick="window.history.go(-1);" class="btn btn-primary"><i
                                class="fa fa-reply mr5"></i> Back</a>
                    </div>
                    <h4 class="card-title">City {{formAction}}</h4>
                    <p class="card-title-desc">City {{formAction}} in your mind</p>
                    <form class="needs-validation" [formGroup]="cityForm" (ngSubmit)="handleSubmit()">
                        <div class="row">
                            <div class="col-md-9">
                                <div class="mb-3">
                                    <label for="validationCustom01">Country Name</label>
                                    <select class="form-control"  formControlName="countryId" (change)="getState($event)">
                                        <option value="" selected>Choose Country</option>
                                        <option *ngFor="let country of countryList.data" [value]="country.id">{{ country.countryName }}</option>
                                      </select>
                                    <div class="valid-feedback">
                                        <span>Looks good!</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-9">
                                <div class="mb-3">
                                    <label for="validationCustom01">State Name</label>
                                    <select formControlName="stateId" class="form-control"  placeholder="Enter State Name">  
                                        <option value="">Choose State</option>
                                        <option *ngFor="let state of stateList.data"  
                                                value={{state.id}}>  
                                            {{state.stateName}}  
                                        </option>
                                    </select>  
                                    <div class="valid-feedback">
                                        <span>Looks good!</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-9">
                                <div class="mb-3">
                                    <label for="validationCustom01">City Name</label>
                                    <input type="text" class="form-control" formControlName="cityName"
                                        placeholder="Enter City Name">
                                    <div class="valid-feedback">
                                        <span>Looks good!</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <button class="btn btn-primary" type="submit">{{formAction}}</button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- end card -->
        </div> <!-- end col -->
    </div>
    <!-- end row -->
</div>