<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
               
                <div class="card-body">
                    <div class="role" style="float: right;">
                       
                        <a [routerLink]="['/master/faqlist']" class="btn btn-primary"><i
                                    class="fa fa-reply mr5"></i> Back</a>


                    </div>
                    <h4 class="card-title">Faq {{formAction}}</h4>
                    <p class="card-title-desc">faq {{formAction}} in your mind</p>
                    <form class="needs-validation" [formGroup]="faqForm" (ngSubmit)="handleSubmit()">
                        <div class="row">
                            <div class="col-md-9">
                                <div class="mb-3">
                                    <label for="validationCustom01">Faq For</label>
                                    <select class="form-control" formControlName="faqFor">
                                        <option value="" selected>Choose Driver or User</option>
                                        <option [value]="1" >Driver</option>
                                        <option [value]="2">Customer</option>
                                      </select>
                                    <div class="valid-feedback">
                                        <span>Looks good!</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-9">
                                <div class="mb-3">
                                    <label for="validationCustom01">Question</label>
                                    <textarea class="form-control" id="example-textarea" rows="3"
                                    placeholder="Write some note.." formControlName="question"></textarea>
                                    <div class="valid-feedback">
                                        <span>Looks good!</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-9">
                                <div class="mb-3">
                                    <label for="validationCustom01">Answer</label>
                                    <textarea class="form-control" id="example-textarea1" rows="3"
                                    placeholder="Write some note.." formControlName="answer"></textarea>
                                    <div class="valid-feedback">
                                        <span>Looks good!</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <button class="btn btn-primary" type="submit">{{formAction}}</button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- end card -->
        </div> <!-- end col -->
    </div>
    <!-- end row -->
</div>